.todoBlock{
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 0px 10px 0 10px ;
    background: #FFF2E2;
    border-radius: 10px;

}

.titleRow{
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    word-break: break-all;
}
.titleRowTitle{
    display: flex;
    font-weight: bold;
    flex-grow: 0.9;
}

.trashBtn, .penBtn{
    width: 30px;
    margin: 5px;
    padding: 5px;
    height: 30px;
    background: linear-gradient(260.15deg, #F2C58F 0%, #F28F8F 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.priority{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}


.descriptionRow{
    min-height: 50px;
    width: 100%;
    padding: 10px;
    word-break: break-all;
}

.changeStateButtons{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

button{
    display: flex;
    background: none;
    outline: none;
    border: none;
}

input {
    border: none;
    outline: none;
}

.taskTextarea {
    font-style: italic;
    padding: 5px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.prevListIcon {
    transform: rotate(180deg);
}